.cart-container{
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
    border:1px solid rgb(250, 243, 243);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    align-items: center;
    padding:10px;
  
}
.image-title-container{
    display: flex;
    align-items: center;
   
    img{
        width:40px;
        height:40px;
        border:1px solid rgb(194, 188, 188);
        border-radius:4px;
        padding:5px;
        margin-right:10px;

    }
}
.cart-ui-component{
    width: 600px;
    height: 600px;
    border-radius: 12px;
    background: linear-gradient(135deg, #cba611, #fc3e25);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 28px;
    color: white;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    
}
.cart-navbar{
    background-color:rgb(252, 152, 37);
    padding:12px;
    width:450px;
    display:flex;
    justify-content: flex-end;
    color:black;
    border-radius:5px;
    margin:10px 0px;
}
.cart-button-container{
    display: flex;
    gap:4px;
    button{
        background-color: rgb(202, 229, 220);
        color:black;
        border:1px solid white;
        border-radius:5px;
        cursor:pointer;
        
    }
}
.cart-icon{
    position:relative;
    span{
        position:absolute;
        top: -12px;
        right:-4px;
        font-size: x-small;
        background-color: rgb(154, 151, 146);
        border-radius: 50%;
        padding:4px;

    }
}
.cart-list-container{
    overflow-y:auto;
}