.stop-counter-component{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(201, 78, 78);
    width: 30%;
    margin: auto;
    padding: 1rem;
}
.counter-container{
    font-size: 2rem;
    margin: 1rem;
    border-radius: 50%;
    width: 300px;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
}
.button-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    margin-top:10px;
}
.stop-button, .reset-button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border:1px solid black;
}