.traffic-light-container{
    width:400px;
    height:400px;
    margin: 30px auto;
    background: linear-gradient(90deg,black,rgb(199, 46, 186));
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:30px;
    border:1px solid white;
    box-shadow: 0 8px 25px rgba(230, 226, 226, 0.2);
    border-radius: 10px;
}
.traffic-light{
    width:50px;
    height:50px;
    border-radius: 50%;
    margin:10px;
}
.heading-traffic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    margin-bottom:15px;
    text-align: left;
    border:1px solid white;
    box-shadow: 0 4px 10px rgba(227, 220, 220, 0.15);
    padding:15px;
    border-radius: 10px;
    color:white;
    h3{
     padding-left:4.5rem;
    }
}
.traffic-container{
    background:black;
    border:1px solid black;
    box-shadow: 0 8px 25px rgba(230, 226, 226, 0.2);
    border-radius: 10px;
}